*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 10px;
}

.App {
  max-width: 960px;
  margin: 20px auto;
  display: flex;
}

.pokemonLogo {
  width: 100%;
}
