*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 10px;
}

.App {
  width: 960px;
  margin: 20px auto;
  font-family: Arial;
}

.pokemonLogo {
  width: 100%;
}

.results-number {
  font-size: 1.3rem;
  width: 100%;
  background-color: #dedede;
  padding: 10px;
  text-align: center;
}

.chars {
  font-size: 1.5rem;
  padding: 5px;
  display: inline-block;
}
